<link href="//cdn.shopify.com/s/files/1/1915/7383/t/2/assets/theme.scss.css?11817818641660261022" rel="stylesheet" type="text/css" media="all">



<app-header></app-header>
 
<div class="page-container drawer-page-content"  >

<main class="main-content" id="MainContent" role="main">
<div class="page-width">
<div class="grid">
<div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
<div class="section-header text-center">
  <h1>{{model.Name}}</h1>
</div>

<div class="rte">
  <div [innerHTML]="model.FullText"></div>
</div>
</div>
</div>
</div>
</main>


<app-footer></app-footer>