
 
 <div id="SearchDrawer" class="search-bar drawer drawer--top">
    <div class="search-bar__table">
      <div class="search-bar__table-cell search-bar__form-wrapper">
        <form class="search search-header search--focus search-bar__form" action="https://debut-theme-lightroom.myshopify.com/search" method="get" role="search">
          <button class="search-bar__submit search__submit btn--link" type="submit">
            <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-search" viewBox="0 0 37 40"><path d="M35.6 36l-9.8-9.8c4.1-5.4 3.6-13.2-1.3-18.1-5.4-5.4-14.2-5.4-19.7 0-5.4 5.4-5.4 14.2 0 19.7 2.6 2.6 6.1 4.1 9.8 4.1 3 0 5.9-1 8.3-2.8l9.8 9.8c.4.4.9.6 1.4.6s1-.2 1.4-.6c.9-.9.9-2.1.1-2.9zm-20.9-8.2c-2.6 0-5.1-1-7-2.9-3.9-3.9-3.9-10.1 0-14C9.6 9 12.2 8 14.7 8s5.1 1 7 2.9c3.9 3.9 3.9 10.1 0 14-1.9 1.9-4.4 2.9-7 2.9z"></path></svg>
            <span class="icon__fallback-text">Submit</span>
          </button>
          <input class="search__input search-bar__input" type="search" name="q" value="" placeholder="Search" aria-label="Search">
        </form>
      </div>
      <div class="search-bar__table-cell text-right">
        <button type="button" class="btn--link search-bar__close js-drawer-close">
          <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-close" viewBox="0 0 37 40"><path d="M21.3 23l11-11c.8-.8.8-2 0-2.8-.8-.8-2-.8-2.8 0l-11 11-11-11c-.8-.8-2-.8-2.8 0-.8.8-.8 2 0 2.8l11 11-11 11c-.8.8-.8 2 0 2.8.4.4.9.6 1.4.6s1-.2 1.4-.6l11-11 11 11c.4.4.9.6 1.4.6s1-.2 1.4-.6c.8-.8.8-2 0-2.8l-11-11z"></path></svg>
          <span class="icon__fallback-text">Close search</span>
        </button>
      </div>
    </div>
  </div>

    <div id="shopify-section-header" class="shopify-section">
   


<div data-section-id="header" data-section-type="header-section">
  <nav class="mobile-nav-wrapper medium-up--hide" role="navigation">
    <ul id="MobileNav" class="mobile-nav">
      
<li class="mobile-nav__item border-bottom">
          
            <a routerLink="/shop" class="mobile-nav__link">
              Home
            </a>
          
        </li>
      
<li class="mobile-nav__item border-bottom">
          
            <a routerLink="/about" class="mobile-nav__link">
              About Us
            </a>
          
        </li>
      
<li class="mobile-nav__item border-bottom">
          
            <button type="button" class="btn--link js-toggle-submenu mobile-nav__link" data-target="furniture" data-level="1">
              Furniture
              <div class="mobile-nav__icon">
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-chevron-right" viewBox="0 0 284.49 498.98"><defs><style>.cls-1{fill:#231f20}</style></defs><path class="cls-1" d="M223.18 628.49a35 35 0 0 1-24.75-59.75L388.17 379 198.43 189.26a35 35 0 0 1 49.5-49.5l214.49 214.49a35 35 0 0 1 0 49.5L247.93 618.24a34.89 34.89 0 0 1-24.75 10.25z" transform="translate(-188.18 -129.51)"></path></svg>
                <span class="icon__fallback-text">expand</span>
              </div>
            </button>
            <ul class="mobile-nav__dropdown" data-parent="furniture" data-level="2">
              <li class="mobile-nav__item border-bottom">
                <div class="mobile-nav__table">
                  <div class="mobile-nav__table-cell mobile-nav__return">
                    <button class="btn--link js-toggle-submenu mobile-nav__return-btn" type="button">
                      <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-chevron-left" viewBox="0 0 284.49 498.98"><defs><style>.cls-1{fill:#231f20}</style></defs><path class="cls-1" d="M437.67 129.51a35 35 0 0 1 24.75 59.75L272.67 379l189.75 189.74a35 35 0 1 1-49.5 49.5L198.43 403.75a35 35 0 0 1 0-49.5l214.49-214.49a34.89 34.89 0 0 1 24.75-10.25z" transform="translate(-188.18 -129.51)"></path></svg>
                      <span class="icon__fallback-text">collapse</span>
                    </button>
                  </div>
                  <a href="../collections.html" class="mobile-nav__sublist-link mobile-nav__sublist-header">
                    Furniture
                  </a>
                </div>
              </li>

              
                <li class="mobile-nav__item border-bottom">
                  <a href="../collections.html" class="mobile-nav__sublist-link">
                    All furniture
                  </a>
                </li>
              
                <li class="mobile-nav__item border-bottom">
                  <a href="../collections/chairs.html" class="mobile-nav__sublist-link">
                    Chairs
                  </a>
                </li>
              
                <li class="mobile-nav__item border-bottom">
                  <a href="../collections/sofas.html" class="mobile-nav__sublist-link">
                    Sofas
                  </a>
                </li>
              
                <li class="mobile-nav__item">
                  <a href="../collections/tables.html" class="mobile-nav__sublist-link">
                    Tables
                  </a>
                </li>
              

            </ul>
          
        </li>
      
<li class="mobile-nav__item border-bottom">
          
            <a href="../blogs/stories.html" class="mobile-nav__link">
              Blog
            </a>
          
        </li>
      
<li class="mobile-nav__item">
          
            <a routerLink="/contact" class="mobile-nav__link">
              Contact Us
            </a>
          
        </li>
      
    </ul>
  </nav>

  
    
  

  <header class="site-header border-bottom logo--left" role="banner">
    <div class="grid grid--no-gutters grid--table">
       

      <div class="grid__item small--one-half medium-up--one-quarter logo-align--left">
        
        
          <div class="h2 site-header__logo" itemscope="" itemtype="http://schema.org/Organization">
        
          
<a  routerLink="/shop" itemprop="url" class="site-header__logo-image">
              
              <img class="js lazyautosizes lazyloaded" src="https://cdn.shopify.com/s/files/1/1915/7383/files/Lightroom-logo_360x.png"/>
              
            </a>
          
        
          </div>
        
      </div>

      
        <nav class="grid__item medium-up--one-half small--hide" id="AccessibleNav" role="navigation">
          <ul class="site-nav list--inline " id="SiteNav">
  

      <li>
        <a routerLink="/shop" class="site-nav__link site-nav__link--main">Shop</a>
      </li>
    
  

      <li>
        <a routerLink="/about" class="site-nav__link site-nav__link--main">About Us</a>
      </li>
    
  

      <li class="site-nav--has-dropdown">
        <a href="../collections.html" class="site-nav__link site-nav__link--main" aria-has-popup="true" aria-expanded="false" aria-controls="SiteNavLabel-furniture">
          Furniture
          <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewBox="0 0 498.98 284.49"><defs><style>.cls-1{fill:#231f20}</style></defs><path class="cls-1" d="M80.93 271.76A35 35 0 0 1 140.68 247l189.74 189.75L520.16 247a35 35 0 1 1 49.5 49.5L355.17 511a35 35 0 0 1-49.5 0L91.18 296.5a34.89 34.89 0 0 1-10.25-24.74z" transform="translate(-80.93 -236.76)"></path></svg>
          <span class="visually-hidden">expand</span>
        </a>

        <div class="site-nav__dropdown" id="SiteNavLabel-furniture">
          <ul>
            
              <li>
                <a href="../collections.html" class="site-nav__link site-nav__child-link">All furniture</a>
              </li>
            
              <li>
                <a href="../collections/chairs.html" class="site-nav__link site-nav__child-link">Chairs</a>
              </li>
            
              <li>
                <a href="../collections/sofas.html" class="site-nav__link site-nav__child-link">Sofas</a>
              </li>
            
              <li>
                <a href="../collections/tables.html" class="site-nav__link site-nav__child-link site-nav__link--last">Tables</a>
              </li>
            
          </ul>
        </div>
      </li>
    
  

      <li>
        <a routerLink="/blog"  class="site-nav__link site-nav__link--main">Blog</a>
      </li>
    
  

      <li class="site-nav--active">
        <a routerLink="/contact" class="site-nav__link site-nav__link--main">Contact Us</a>
      </li>
    
  
</ul>

        </nav>
      

      <div class="grid__item small--one-half medium-up--one-quarter text-right site-header__icons">
        <div class="site-header__icons-wrapper">
          
            <div class="site-header__search small--hide">
              <form action="https://debut-theme-lightroom.myshopify.com/search" method="get" class="search-header search--focus" role="search">
  <input class="search-header__input search__input" type="search" name="q" placeholder="Search" aria-label="Search">
  <button class="search-header__submit search__submit btn--link" type="submit">
    <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-search" viewBox="0 0 37 40"><path d="M35.6 36l-9.8-9.8c4.1-5.4 3.6-13.2-1.3-18.1-5.4-5.4-14.2-5.4-19.7 0-5.4 5.4-5.4 14.2 0 19.7 2.6 2.6 6.1 4.1 9.8 4.1 3 0 5.9-1 8.3-2.8l9.8 9.8c.4.4.9.6 1.4.6s1-.2 1.4-.6c.9-.9.9-2.1.1-2.9zm-20.9-8.2c-2.6 0-5.1-1-7-2.9-3.9-3.9-3.9-10.1 0-14C9.6 9 12.2 8 14.7 8s5.1 1 7 2.9c3.9 3.9 3.9 10.1 0 14-1.9 1.9-4.4 2.9-7 2.9z"></path></svg>
    <span class="icon__fallback-text">Submit</span>
  </button>
</form>

            </div>
          

          <button type="button" class="btn--link site-header__search-toggle js-drawer-open-top medium-up--hide" aria-controls="SearchDrawer" aria-expanded="false">
            <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-search" viewBox="0 0 37 40"><path d="M35.6 36l-9.8-9.8c4.1-5.4 3.6-13.2-1.3-18.1-5.4-5.4-14.2-5.4-19.7 0-5.4 5.4-5.4 14.2 0 19.7 2.6 2.6 6.1 4.1 9.8 4.1 3 0 5.9-1 8.3-2.8l9.8 9.8c.4.4.9.6 1.4.6s1-.2 1.4-.6c.9-.9.9-2.1.1-2.9zm-20.9-8.2c-2.6 0-5.1-1-7-2.9-3.9-3.9-3.9-10.1 0-14C9.6 9 12.2 8 14.7 8s5.1 1 7 2.9c3.9 3.9 3.9 10.1 0 14-1.9 1.9-4.4 2.9-7 2.9z"></path></svg>
            <span class="icon__fallback-text">Search</span>
          </button>

          

          <a routerLink="/cart" class="site-header__cart">
            <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-cart" viewBox="0 0 37 40"><path d="M36.5 34.8L33.3 8h-5.9C26.7 3.9 23 .8 18.5.8S10.3 3.9 9.6 8H3.7L.5 34.8c-.2 1.5.4 2.4.9 3 .5.5 1.4 1.2 3.1 1.2h28c1.3 0 2.4-.4 3.1-1.3.7-.7 1-1.8.9-2.9zm-18-30c2.2 0 4.1 1.4 4.7 3.2h-9.5c.7-1.9 2.6-3.2 4.8-3.2zM4.5 35l2.8-23h2.2v3c0 1.1.9 2 2 2s2-.9 2-2v-3h10v3c0 1.1.9 2 2 2s2-.9 2-2v-3h2.2l2.8 23h-28z"></path></svg>
            <span class="visually-hidden">Cart</span>
            <span class="icon__fallback-text">Cart</span>
            
          </a>

          
            <button type="button" class="btn--link site-header__menu js-mobile-nav-toggle mobile-nav--open">
              <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-hamburger" viewBox="0 0 37 40"><path d="M33.5 25h-30c-1.1 0-2-.9-2-2s.9-2 2-2h30c1.1 0 2 .9 2 2s-.9 2-2 2zm0-11.5h-30c-1.1 0-2-.9-2-2s.9-2 2-2h30c1.1 0 2 .9 2 2s-.9 2-2 2zm0 23h-30c-1.1 0-2-.9-2-2s.9-2 2-2h30c1.1 0 2 .9 2 2s-.9 2-2 2z"></path></svg>
              <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-close" viewBox="0 0 37 40"><path d="M21.3 23l11-11c.8-.8.8-2 0-2.8-.8-.8-2-.8-2.8 0l-11 11-11-11c-.8-.8-2-.8-2.8 0-.8.8-.8 2 0 2.8l11 11-11 11c-.8.8-.8 2 0 2.8.4.4.9.6 1.4.6s1-.2 1.4-.6l11-11 11 11c.4.4.9.6 1.4.6s1-.2 1.4-.6c.8-.8.8-2 0-2.8l-11-11z"></path></svg>
              <span class="icon__fallback-text">expand/collapse</span>
            </button>
          
        </div>

      </div>
    </div>
  </header>

  
</div>


</div>