<div id="Header">
<div class="wrapper">
	<h1>{{title}}</h1>	
	</div>
</div>
<div id="Content" class="wrapper"> 
<div class="countdown styled"></div> 



<h2 class="intro">
 {{message}}
</h2>


<div id="subscribe"> 
	<div action="" method="post" onsubmit="">
		<p><input name="" value="" type="text" id="" placeholder="Nhập email của bạn"/>
		<input type="button" value="Gửi"/></p>
	</div>
	<div id="socialIcons">
		<ul> 
			<li><a href="" title="Twitter" class="twitterIcon"></a></li>
			<li><a href="http://fb.com/tuanitpro" title="facebook" class="facebookIcon"></a></li>
			<li><a href="" title="linkedIn" class="linkedInIcon"></a></li>
			<li><a href="" title="Pintrest" class="pintrestIcon"></a></li>
		</ul>
	</div>
</div>
<span class="tempBy"><a href="http://tuanitpro.com" alt="tuanitpro.com">tuanitpro.com</a></span>
</div>

<div id="overlay"></div>
