/* You can add global styles to this file, and also import other style files */
/*
Author: WebThemez
Author URL: http://webthemez.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
https://webthemez.com/coming-soon-responsive-web-template-trendset/
*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800,600);
@import url(http://fonts.googleapis.com/css?family=Lobster+Two:700);
@import '../node_modules/font-awesome/css/font-awesome.css';

 body {
	color:#FFF; 
	font-family: 'Open Sans', sans-serif;
	min-width:960px;
	top:0;
	left:0;
	position:absolute;
	height:100%;
	width:100%;
	margin:0;
	background-size:cover;
}


#Header {
margin-bottom: 62px;
position: relative;
width: 100%;
height: 110px;
line-height: 110px;
z-index: 1;
}
.wrapper {
margin: 0 auto;
position: relative;
width: 920px;
z-index: 1;
}

.intro{
font-size:22px;
font-weight:normal;
margin-bottom:30px;
}
.styled{
  margin-bottom: 30px;
}
.styled div {
display: inline-block;
font-size: 80px;
font-weight: 900;
text-align: center;
margin: 0 1px;
width: 136px;
padding: 10px 30px 53px; 
height: 100px;
background:rgba(255, 255, 255, 0.0);
text-shadow: none;
vertical-align: middle; 
border-right:1px solid rgba(255, 255, 255, 0.36);
text-shadow: 2px 2px rgba(12, 11, 11, 0.56);
}
.styled div:last-child{
border:none;
}
#overlay{ 
background: rgba(0, 0, 0, 0.04)  ;
background:rgba(0, 0, 0, 0.14);
position: fixed;
top: 0px;
width: 100%;
bottom: 0px;
opacity:0.8;
}
/* IE7 inline-block hack */
*+html .styled div{
  display: inline;
  zoom: 1;
}
.styled div:first-child {
  margin-left: 0;
}
.styled div span {
display: block;
border-top: 1px solid rgba(255, 255, 255, 0.36);
padding-top: 3px;
font-size: 21px;
font-weight: 400;
text-align: center;
}

#Content h2 {
display: inline-block;
margin: 25px 0 45px;
padding: 0px;
text-align: center;
font-size: 28px; 
font-weight: 300;
color: #fff;
line-height: 36px;
}