<div id="Header">
<div class="wrapper">
	<h1>{{title}}</h1>	
</div>
</div>
<div id="Content" class="wrapper"> 
 
<div class="intro"> 
<a routerLink="/about">About</a> | 
<a routerLink="/intro">Intro</a> |
<a routerLink="/quote">Quote</a> |
<a routerLink="/shop">Shop</a> |
<a routerLink="/blog">Blog</a> 
<br/>

<h2>Tuấn Lê Thanh</h2><br/>
Make with <i class="fa fa-heart"></i> code. <br/>
<div id="socialIcons">
		<ul>
      	<li><a href="mailto:tuanitpro@gmail.com" title="Twitter" class="twitterIcon"><i class="fa fa-envelope"></i></a></li> 
			<li><a href="http://twitter.com/tuanitpro" title="Twitter" class="twitterIcon"><i class="fa fa-twitter"></i></a></li>
			<li><a href="http://fb.com/tuanitpro" title="facebook" class="facebookIcon"><i class="fa fa-facebook"></i></a></li>
			<li><a href="" title="linkedIn" class="linkedInIcon"><i class="fa fa-linkedin-square"></i></a></li>
			<li><a href="" title="Pintrest" class="pintrestIcon"><i class="fa fa-pinterest-square"></i></a></li>
		</ul>
	</div>
</div>
</div>